In [31]:
#导入os
import os

#改变当前工作路径 至所有文件所在的文件夹下
housing_pri = os.chdir("/Users/ningzehan/Desktop/2011-2020")


#列出所有文件的名称 以列表呈现
housing_pri_name = os.listdir(housing_pri)

In [32]:
#检查housing_pri_name下面的文件
print(housing_pri_name)

['2020.csv', '2019.csv', '2018.csv', '2015.csv', '2014.csv', '2016.csv', '2017.csv', '2013.csv', '2012.csv', '2011.csv']

In [33]:
#导入pandas

import pandas as pd

#读取11年的数据
hp2011_df = pd.read_csv("2011.csv")

#显示前5条
hp2011_df.head()

,Unnamed: 0,raw_data,date,price,percent,upordown
0,0,2011年12月房价\n17428元/㎡\n3.27%,2011年12月房价,17428元/㎡,3.27%,down
1,1,2011年11月房价\n18018元/㎡\n1.75%,2011年11月房价,18018元/㎡,1.75%,down
2,2,2011年10月房价\n18338元/㎡\n1.48%,2011年10月房价,18338元/㎡,1.48%,down
3,3,2011年09月房价\n18613元/㎡\n0.88%,2011年09月房价,18613元/㎡,0.88%,down
4,4,2011年08月房价\n18778元/㎡\n0.86%,2011年08月房价,18778元/㎡,0.86%,down

In [34]:
#读取每个文件的名称
for price in housing_pri_name:
    #读取每个文件的数据
    data = pd.read_csv(f"{price}")
    print(data.head())

   Unnamed: 0                     raw_data        date     price percent  \
0           0  2020年11月房价\n56565元/㎡\n0.22%  2020年11月房价  56565元/㎡   0.22%
1           1  2020年10月房价\n56443元/㎡\n0.28%  2020年10月房价  56443元/㎡   0.28%
2           2  2020年09月房价\n56286元/㎡\n0.26%  2020年09月房价  56286元/㎡   0.26%
3           3  2020年08月房价\n56142元/㎡\n0.19%  2020年08月房价  56142元/㎡   0.19%
4           4  2020年07月房价\n56033元/㎡\n0.54%  2020年07月房价  56033元/㎡   0.54%

  upordown
0       up
1       up
2       up
3       up
4       up
   Unnamed: 0                     raw_data        date     price percent  \
0           0  2019年12月房价\n54790元/㎡\n0.15%  2019年12月房价  54790元/㎡   0.15%
1           1  2019年11月房价\n54709元/㎡\n0.57%  2019年11月房价  54709元/㎡   0.57%
2           2  2019年10月房价\n54398元/㎡\n0.12%  2019年10月房价  54398元/㎡   0.12%
3           3  2019年09月房价\n54333元/㎡\n0.28%  2019年09月房价  54333元/㎡   0.28%
4           4  2019年08月房价\n54180元/㎡\n0.12%  2019年08月房价  54180元/㎡   0.12%

  upordown
0       up
1       up
2       up
3       up
4       up
   Unnamed: 0                     raw_data        date     price percent  \
0           0  2018年12月房价\n53205元/㎡\n0.95%  2018年12月房价  53205元/㎡   0.95%
1           1   2018年11月房价\n53716元/㎡\n0.1%  2018年11月房价  53716元/㎡    0.1%
2           2  2018年10月房价\n53768元/㎡\n0.79%  2018年10月房价  53768元/㎡   0.79%
3           3  2018年09月房价\n54199元/㎡\n0.06%  2018年09月房价  54199元/㎡   0.06%
4           4  2018年08月房价\n54233元/㎡\n0.71%  2018年08月房价  54233元/㎡   0.71%

  upordown
0     down
1     down
2     down
3     down
4       up
   Unnamed: 0                  raw_data        date     price percent upordown
0           0  2015年12月房价\n41494元/㎡\n5%  2015年12月房价  41494元/㎡      5%       up
1           1  2015年11月房价\n39451元/㎡\n2%  2015年11月房价  39451元/㎡      2%     down
2           2   2015年10月房价\n40118元/㎡\n-  2015年10月房价  40118元/㎡       -  average
3           3  2015年09月房价\n40230元/㎡\n1%  2015年09月房价  40230元/㎡      1%       up
4           4   2015年08月房价\n39972元/㎡\n-  2015年08月房价  39972元/㎡       -  average
   Unnamed: 0                     raw_data        date     price percent  \
0           0  2014年12月房价\n28117元/㎡\n0.02%  2014年12月房价  28117元/㎡   0.02%
1           1  2014年11月房价\n28123元/㎡\n1.68%  2014年11月房价  28123元/㎡   1.68%
2           2  2014年10月房价\n27658元/㎡\n4.09%  2014年10月房价  27658元/㎡   4.09%
3           3      2014年09月房价\n26570元/㎡\n-  2014年09月房价  26570元/㎡       -
4           4  2014年08月房价\n26570元/㎡\n0.44%  2014年08月房价  26570元/㎡   0.44%

  upordown
0     down
1       up
2       up
3  average
4     down
   Unnamed: 0                     raw_data        date     price percent  \
0           0  2016年12月房价\n43289元/㎡\n3.76%  2016年12月房价  43289元/㎡   3.76%
1           1  2016年11月房价\n44982元/㎡\n0.36%  2016年11月房价  44982元/㎡   0.36%
2           2  2016年10月房价\n45143元/㎡\n1.36%  2016年10月房价  45143元/㎡   1.36%
3           3  2016年09月房价\n45764元/㎡\n0.68%  2016年09月房价  45764元/㎡   0.68%
4           4  2016年08月房价\n45453元/㎡\n1.67%  2016年08月房价  45453元/㎡   1.67%

  upordown
0     down
1     down
2     down
3       up
4       up
   Unnamed: 0                     raw_data        date     price percent  \
0           0  2017年12月房价\n51477元/㎡\n0.39%  2017年12月房价  51477元/㎡   0.39%
1           1  2017年11月房价\n51277元/㎡\n0.39%  2017年11月房价  51277元/㎡   0.39%
2           2  2017年10月房价\n51077元/㎡\n0.59%  2017年10月房价  51077元/㎡   0.59%
3           3  2017年09月房价\n50777元/㎡\n0.59%  2017年09月房价  50777元/㎡   0.59%
4           4   2017年08月房价\n50477元/㎡\n0.8%  2017年08月房价  50477元/㎡    0.8%

  upordown
0       up
1       up
2       up
3       up
4       up
   Unnamed: 0                     raw_data        date     price percent  \
0           0  2013年12月房价\n24910元/㎡\n0.78%  2013年12月房价  24910元/㎡   0.78%
1           1  2013年11月房价\n24718元/㎡\n0.64%  2013年11月房价  24718元/㎡   0.64%
2           2  2013年10月房价\n24560元/㎡\n1.52%  2013年10月房价  24560元/㎡   1.52%
3           3  2013年09月房价\n24192元/㎡\n6.41%  2013年09月房价  24192元/㎡   6.41%
4           4  2013年08月房价\n22734元/㎡\n6.07%  2013年08月房价  22734元/㎡   6.07%

  upordown
0       up
1       up
2       up
3       up
4       up
   Unnamed: 0                     raw_data        date     price percent  \
0           0   2012年12月房价\n19298元/㎡\n0.8%  2012年12月房价  19298元/㎡    0.8%
1           1  2012年11月房价\n19144元/㎡\n0.87%  2012年11月房价  19144元/㎡   0.87%
2           2  2012年10月房价\n18979元/㎡\n0.76%  2012年10月房价  18979元/㎡   0.76%
3           3  2012年09月房价\n18836元/㎡\n1.07%  2012年09月房价  18836元/㎡   1.07%
4           4  2012年08月房价\n18636元/㎡\n2.09%  2012年08月房价  18636元/㎡   2.09%

  upordown
0       up
1       up
2       up
3       up
4       up
   Unnamed: 0                     raw_data        date     price percent  \
0           0  2011年12月房价\n17428元/㎡\n3.27%  2011年12月房价  17428元/㎡   3.27%
1           1  2011年11月房价\n18018元/㎡\n1.75%  2011年11月房价  18018元/㎡   1.75%
2           2  2011年10月房价\n18338元/㎡\n1.48%  2011年10月房价  18338元/㎡   1.48%
3           3  2011年09月房价\n18613元/㎡\n0.88%  2011年09月房价  18613元/㎡   0.88%
4           4  2011年08月房价\n18778元/㎡\n0.86%  2011年08月房价  18778元/㎡   0.86%

  upordown
0     down
1     down
2     down
3     down
4     down

In [35]:
#获取 2011-2020年的数据

hp2011_df = pd.read_csv("2011.csv")

hp2012_df = pd.read_csv("2012.csv")

hp2013_df = pd.read_csv("2013.csv")

hp2014_df = pd.read_csv("2014.csv")

hp2015_df = pd.read_csv("2015.csv")

hp2016_df = pd.read_csv("2016.csv")

hp2017_df = pd.read_csv("2017.csv")

hp2018_df = pd.read_csv("2018.csv")

hp2019_df = pd.read_csv("2019.csv")

hp2020_df = pd.read_csv("2020.csv")

#进行堆叠拼接，注意：多个表格的拼接传入元组或列表 all_hour_pri命名DF

all_hou_pri= pd.concat((hp2011_df,hp2012_df,hp2013_df,hp2014_df,hp2015_df,hp2016_df,
           hp2017_df,hp2018_df,hp2019_df,hp2020_df))

In [36]:
all_hou_pri

,Unnamed: 0,raw_data,date,price,percent,upordown
0,0,2011年12月房价\n17428元/㎡\n3.27%,2011年12月房价,17428元/㎡,3.27%,down
1,1,2011年11月房价\n18018元/㎡\n1.75%,2011年11月房价,18018元/㎡,1.75%,down
2,2,2011年10月房价\n18338元/㎡\n1.48%,2011年10月房价,18338元/㎡,1.48%,down
3,3,2011年09月房价\n18613元/㎡\n0.88%,2011年09月房价,18613元/㎡,0.88%,down
4,4,2011年08月房价\n18778元/㎡\n0.86%,2011年08月房价,18778元/㎡,0.86%,down
...,...,...,...,...,...,...
6,6,2020年05月房价\n55545元/㎡\n0.27%,2020年05月房价,55545元/㎡,0.27%,up
7,7,2020年04月房价\n55396元/㎡\n0.26%,2020年04月房价,55396元/㎡,0.26%,up
8,8,2020年03月房价\n55251元/㎡\n0.3%,2020年03月房价,55251元/㎡,0.3%,up
9,9,2020年02月房价\n55088元/㎡\n0.32%,2020年02月房价,55088元/㎡,0.32%,up
10,10,2020年01月房价\n54914元/㎡\n0.23%,2020年01月房价,54914元/㎡,0.23%,up

In [37]:
all_hou_pri.columns

Index(['Unnamed: 0', 'raw_data', 'date', 'price', 'percent', 'upordown'], dtype='object')

In [38]:
# can drop some useless columns

to_drop = ['Unnamed: 0', 'raw_data', 'percent', 'upordown']

all_hou_pri.drop(columns=to_drop, inplace=True)

In [39]:
all_hou_pri.columns

Index(['date', 'price'], dtype='object')

In [40]:
all_hou_pri.head()

         date     price
0  2011年12月房价  17428元/㎡
1  2011年11月房价  18018元/㎡
2  2011年10月房价  18338元/㎡
3  2011年09月房价  18613元/㎡
4  2011年08月房价  18778元/㎡

In [41]:
all_hou_pri['date'] = all_hou_pri['date'].apply(lambda s : s[:-3])

In [42]:
all_hou_pri.head()

      date     price
0  2011年12  17428元/㎡
1  2011年11  18018元/㎡
2  2011年10  18338元/㎡
3  2011年09  18613元/㎡
4  2011年08  18778元/㎡

In [43]:
all_hou_pri['price'] = all_hou_pri['price'].apply(lambda s : s[:-2])

In [44]:
all_hou_pri.head()
all_hou_pri['year'] = all_hou_pri['date'].str.extract(r'^(\d{4})', expand=False) 
all_hou_pri['month'] = all_hou_pri['date'].str.extract(r'(\d{2}$)', expand=False)
all_hou_pri['year_month'] = all_hou_pri['year']+'-'+ all_hou_pri['month']

In [45]:
all_hou_pri

       date   price  year month year_month
0   2011年12  17428元  2011    12    2011-12
1   2011年11  18018元  2011    11    2011-11
2   2011年10  18338元  2011    10    2011-10
3   2011年09  18613元  2011    09    2011-09
4   2011年08  18778元  2011    08    2011-08
..      ...     ...   ...   ...        ...
6   2020年05  55545元  2020    05    2020-05
7   2020年04  55396元  2020    04    2020-04
8   2020年03  55251元  2020    03    2020-03
9   2020年02  55088元  2020    02    2020-02
10  2020年01  54914元  2020    01    2020-01

[119 rows x 5 columns]

In [52]:
all_hou_pri.to_csv('new.csv',encoding='utf-8')